@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Mochiy+Pop+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body,
  input {
    font-family: "Poppins", sans-serif;
  }

/*NAVBAR*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C5DAEF;
    padding: 0 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    max-width: 50px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 25px;
}

.nav-links a:hover {
    background-color: #E4813A;
}


/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}
  
/*HOME SECTION*/
.home {
    background-color: #C5DAEF;
    padding: 80px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    text-align: left;
}

.home-content {
    max-width: 500px;
}

.home-content h1 {
    font-size: 70px;
    margin-bottom: 15px;
    font-family: "Mochiy Pop One";
    color: #33363F;
    
}

.home-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #33363F;
    font-family: "Mochiy Pop One";
}

.home-btn {
    background-color: white;
    color: #04befe;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #f9f9f9;
}

.home-image img {
    width: 100%;
    max-width: 1000px;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        text-align: center;
    }

    .home-image img {
         max-width: 100%;
    }
}


  
/*ABOUT SECTION*/
.about-us {
    background-color: #C5DAEF;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.about-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    max-width: 500px;
}

.about-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

.about-btn {
    background-color: #04befe;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.about-btn:hover {
    background-color: #2b6ee2;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        max-width: 100%;
    }
}


/* Service section */
.services {
    background-color: #E4EFE4; 
    padding: 100px;
}

.services-container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.services-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.service-item {
    background-color: #E5A641;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 24%;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-10px); 
}

.service-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.service-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.service-highlight {
    background-color: #C5DAEF; 
    padding: 30px 0;
    text-align: center;
}

.service-highlight-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
    padding: 20px;
}

.service-highlight-text {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.service-highlight-text h2 {
    background-image: url("img/pic10.jpg"); 
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 95px;
    font-size: 36px;
    color: #33363F; 
    font-weight: bold;
    font-family: "Mochiy Pop One", sans-serif;
    border-radius: 10px;
}

.service-highlight-image {
    flex: 1;
    text-align: center;
}

.service-highlight-image img {
    width: 100%;
    max-width: 500px; 
    border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-highlight-container {
        flex-direction: column;
        text-align: center;
    }

    .service-highlight-text {
        text-align: center;
        padding: 10px;
    }

    .service-highlight-image img {
        max-width: 80%;
    }
}

/* Responsiveness */
@media (max-width: 768px) {
    .services-list {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        width: 80%; 
        margin-bottom: 30px;
    }
}


/*pet profile*/
.pet-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    background-color: #C5DAEF;
}

.pet-profile-title {
    position: absolute;
    top: -60px; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: start;
    background: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    color: #534E46;
}

.profile-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
}

.profile-left-container {
    width: 100%;
    max-width: 48%;
}

.profile-left-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-left {
    padding: 20px;
}

.pet-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.upload-container button {
    padding: 10px 15px;
    background-color: #4765FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-right-container {
    width: 100%;
    max-width: 48%;
}

.profile-right-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.profile-right {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.grid-container div {
    display: flex;
    flex-direction: column;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="button"] {
    background-color:#4765FF;
    color: white;
}

button[type="submit"] {
    background-color: #4765FF;
    color: white;
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .profile-left-container,
    .profile-right-container {
        width: 100%;
        max-width: 100%;
    }
}

